{{- define "main" }}

<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">{{ .Description | markdownify }}</div>
  {{- end }}
</header>

{{- range .Params.projects }}
<article class="post-entry">
  <header class="entry-header">
    <h2 class="entry-hint-parent">{{ .title }}</h2>
  </header>
  <div class="entry-content">
    <p>{{ .description }}</p>
  </div>
  <a class="entry-link" aria-label="post link to {{ .title }}" href="{{ .url }}"></a>
</article>
{{- end }}

{{- end }}
