#wtf {
    max-width: 700px;
    margin: 0 auto;
}
#controls {
    position: fixed;
    width: 100%;
    z-index: 1;
    padding-top: 5px;
    margin: 0;
    background: #fff;
    top: 0;
}

#graphs {
    padding-top: 40px;
    z-index: 0;
}
