body {
    max-width: 700px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}
th, td {
    padding: 0.5em;
}
table, th, td {
    border: 1px solid #999;
}
.right {
    text-align: right;
}

.self {
    border: 1px solid #999;
    background: #eef;
    padding: 1em;
}
.self table {
    margin-bottom: 1em;
}
div.self {
    padding-top: 0;
    padding-bottom: 0;
}
h2 {
    border-top: 1px solid #999;
    padding-top: 0.5em;
}
