body {
    max-width: 700px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}
th, td {
    padding: 0.5em;
}
table, th, td {
    border: 1px solid #999;
}
table {
    width: 100%;
}
.right {
    text-align: right;
}

.self {
    border: 1px solid #0af;
    background: #9df;
    padding: 1em;
}
.self table {
    margin-top: 1em;
    margin-bottom: 1em;
}
div.self {
    padding-top: 0;
    padding-bottom: 0;
}
h1 {
    text-align: center;
}
h2 {
    border-top: 1px solid #999;
    padding-top: 1.0em;
}
h3 {
    padding-top: 1.0em;
}
.space li {
    padding-bottom: 1em;
}
img.centre {
    display: block;
    margin: 0 auto;
}
.mw {
    border: 1px solid #f9a;
    background: #fd9;
    padding: 1em;
}
.todo {
    border: 1px solid #aa9;
    background: #faa;
    padding: 1em;
},
.images {
    margin-top: 1em;
}
.images .column {
    padding-left: 1%;
    padding-right: 1%;
    width: 31%;
    float: left;
    text-align: center;
}
.images .column p,
p.image {
    font-size: smaller;
    text-align: center;
}
.clear {
    clear: both;
}
table.data td {
    text-align: right;
}
#contents {
    clear: both;
}
